.header {
    background-color: aqua;
    padding: 10px;
    display: flex;
}

.header-left {
    margin-right: 10px;
    color: black;
    font-size: large;
    text-decoration: none;
}
.header-right{
    margin-left: auto;
    color: black;
    font-size: large;
    text-decoration: none;
}


