<header class="header navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['lobby']">Lobby</a>
        <a class="navbar-brand" [routerLink]="['login']">Login</a>
        <ng-container *ngIf="cargo()">
            <a class="navbar-brand" [routerLink]="['cadastrar/cadastraCliente']">Cadastrar Cliente</a>
            <a class="navbar-brand" [routerLink]="['cadastrar/cadastraProduto']">Cadastrar Produto</a>
        </ng-container>
        <a class="navbar-brand" [routerLink]="['perfil']">Perfil</a>
        <a class="navbar-brand" [routerLink]="['carrinho']">Carrinho</a>
    </div>
</header>
<router-outlet></router-outlet>