<header class="header">
    <div class="header-left">
        <a class="pontos" [routerLink]="['lobby']">Lobby</a>
        <a class="pontos" [routerLink]="['login']">Login</a>
        <ng-container *ngIf="cargo()">
            <a class="pontos" [routerLink]="['cadastrar/cadastraCliente']">Cadastrar Cliente</a>
            <a class="pontos" [routerLink]="['cadastrar/cadastraProduto']">Cadastrar Produto</a>
        </ng-container>
    </div>
    <div class="header-right"> 
        <a class="pontos" [routerLink]="['perfil']">Perfil</a>
        <a class="pontos" [routerLink]="['carrinho']">Carrinho</a>
    </div>
</header>

<router-outlet></router-outlet>
