<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form (ngSubmit)="buscaProduto()" class="barraDeBusca form-control">
    <input type="text" [(ngModel)]="pesquisa" name="pesquisa" placeholder="Pesquisa pelo nome" class="form-control" />
    <button type="submit" class="form-control">Buscar</button>
  </form>

  <div *ngIf="produtoEncontrado" class="produtoEncontrado">
    <div class="produtoEncontrado-imagem-container">
      <img [src]="'assets/image/' + produtoEncontrado.nomeImagem" alt="Imagem do produto"
        class="produtoEncontrado-imagem" />
    </div>
    <div class="produtoEncontrado-detalhes">
      <h3 class="produtoEncontrado-nome">{{ produtoEncontrado.nome }}</h3>
      <p class="produtoEncontrado-preco">Preço: R$ {{ produtoEncontrado.preco }}</p>
      <p class="produtoEncontrado-descricao">Descrição: {{ produtoEncontrado.descricao }}</p>
    </div>
  </div>

  <div class="produto" *ngFor="let produto of produtos">
    <div class="produto-imagem-container">
      <img class="produto-imagem" [src]="'assets/image/' + produto.nomeImagem" alt="Imagem do produto" />
    </div>
    <div class="produto-info">
      <h3 class="produto-nome">{{ produto.nome }}</h3>
      <p class="produto-descricao">{{ produto.descricao }}</p>
      <h1 class="produto-preco">Preço: R$ {{ produto.preco }}</h1>
      <button class="add-carrinho" (click)="adicionarAoCarrinho(produto)">
        Add Carrinho
      </button>
    </div>
  </div>
</body>

</html>