<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="cardDocarrinho">
        <h1>CARRINHO</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>produto</th>
                    <th>preço</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtosNoCarrinho">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco}}</td>
                    <td>
                        <button (click)="removerDoCarrinho(produto)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Total: R$ {{ calcularTotal() }}</p>
    </div>
</body>

</html>