<body>
  <form>
    <h1>Cadastro</h1>
    <div>
      <input type="text" name="nome" placeholder="nome" class="form-control" [(ngModel)]="cliente.nome"
        [ngClass]="{ 'campo-invalido': !cliente.nome && campoInvalido.nome }" (blur)="validarCampo('nome')" />
      <div *ngIf="!cliente.nome && campoInvalido.nome" class="mensagem-aviso">
        Por favor, preencha o campo nome.
      </div>

      <input type="number" name="idade" placeholder="idade" class="form-control" [(ngModel)]="cliente.idade"
        [ngClass]="{'campo-invalido': !cliente.idade && campoInvalido.idade}" (blur)="validarCampo('idade')" />
      <div *ngIf="!cliente.idade && campoInvalido.idade" class="mensagem-aviso">
        Por favor, preencha o campo idade.
      </div>

      <input type="number" name="telefone" placeholder="telefone" class="form-control" [(ngModel)]="cliente.telefone"
        [ngClass]="{'campo-invalido': !cliente.telefone && campoInvalido.telefone}" (blur)="validarCampo('telefone')" />
      <div *ngIf="!cliente.telefone && campoInvalido.telefone" class="mensagem-aviso">
        Por favor, preencha o campo telefone com 9 digitos.
      </div>

      <input type="number" name="senha" placeholder="senha" class="form-control" [(ngModel)]="cliente.senha" required
        pattern="[0-9]*" [ngClass]="{'campo-invalido': !cliente.senha && campoInvalido.senha}"
        (blur)="validarCampo('senha')" />
      <div *ngIf="!cliente.senha && campoInvalido.senha" class="mensagem-aviso">
        Por favor, preencha o campo senha .
      </div>
    </div>

    <button class="form-control" (click)="cadastrarCliente()">Cadastrar</button>
    <button class="form-control" (click)="limpar()">limpar</button>
  </form>
</body>