form{
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #d4cfcf;
    border-right: 5px solid #d4cfcf;
    border-radius: 20px;
      
    
    }
    input{
      margin-bottom: 5px;
      width: 350px;
      padding: 10px;
      border: 1px solid #acabab;
      border-radius: 10px;
    }
    button {
      margin-bottom: 5px;
      width: 350px;
      padding: 10px;
      border: 1px solid #acabab;
      border-radius: 10px;
    }
    
    div {
      width: 500px;
      text-align: left;
      margin-bottom: 3px;
    }
    .campo-invalido {
      border: 1px solid red;
    }
    table{
      text-align: center;
    }
    